<section class="block block--dark hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">We are<br>STEM<br>educators</h1>
      <p class="hero__tagline">We partner with exceptional students and educators to build leading STEM education programs that inspire the next generation.</p>
      <a href="#about" class="btn btn--accent btn--stretched">Learn More</a>
    </header>
    <picture>
      <source
        type="image/webp"
        srcset="images/banner.webp 1x, images/banner@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/banner.png 1x, images/banner@2x.png 2x"
      />
      <img class="hero__image" src="images/banner.png" alt="STEM Education" />
    </picture>
  </div>
</section>
